<div class="row">
    <div class="col-xs-2 text-center">
        <h4>Active Products</h4>
        <ul class="list-unstyled">
            <li>IDX - @DateTime.Now.ToShortDateString()</li>
            <li>PE - @DateTime.Now.ToShortDateString()</li>
            <li>DS - @DateTime.Now.ToShortDateString()</li>
            <li>ADV - @DateTime.Now.ToShortDateString()</li>
            <li>TKS - @DateTime.Now.ToShortDateString()</li>
        </ul>
    </div>

    <div class="col-xs-2 text-center">
        <h4>Canceled Products</h4>
        <ul class="list-unstyled">
            <li>IDX - @DateTime.Now.ToShortDateString()</li>
            <li>PE - @DateTime.Now.ToShortDateString()</li>
            <li>TKS - @DateTime.Now.ToShortDateString()</li>
        </ul>
    </div>

    <div class="col-xs-2 text-center">
        <h4>Zip Codes</h4>
        <ul class="list-unstyled">
            <li>29579</li>
            <li>12345</li>
            <li>32225</li>
        </ul>
    </div>

    <div class="col-xs-2">
        <h4>Video</h4>
        <a href="www.google.com">www.google.com</a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
        <button type="button" class="btn btn-default pull-right">Edit</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>About Me</h4>
        <p data-bind="text: aboutMe"></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>My Services</h4>
        <p data-bind="text: myServices"></p>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>FB Page ID</th>
                    <th>Name</th>
                    <th>Read Assoc</th>
                    <th>Profile</th>
                    <th>IDX</th>
                    <th>Feature</th>
                    <th>DS</th>
                    <th>Access Token</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tableData">
                <tr>
                    <td data-bind="text: colOne"></td>
                    <td data-bind="text: colTwo"></td>
                    <td data-bind="text: colThree"></td>
                    <td data-bind="text: colFour"></td>
                    <td data-bind="text: colFive"></td>
                    <td data-bind="text: colSix"></td>
                    <td data-bind="text: colSeven"></td>
                    <td data-bind="text: colEight"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>