<div class="row">
    <div class="col-xs-8">
        <h2 class="customer-name"></h2>
    </div>

    <div class="col-xs-4">
        @Html.Partial("Search")
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        @Html.Partial("RegistrationInfo")
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default main-area">
            <div class="panel-body">
                @Html.Partial("Tabs")
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="@Url.Content("~/Scripts/RegistrationInfo.js")"></script>
<script src="@Url.Content("~/Scripts/BasicInfo.js")"></script>
}